@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --brand-green: #5DA69E;
}

* {
  box-sizing: content-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5em;
}

.logo__leaves {
  max-height: 2.2rem;
}

h1, h2, h3, h4 {
  color: var(--brand-green);
  font-family: 'Sen', sans-serif;
}

.tagline {
  padding-bottom: 1rem;
}

.product-title {
  padding: 1rem;
}

.product-description {
  font-family: 'Crimson', serif;
  line-height: 1.5;
  text-align: left;
}

.product-image {
  max-height: 50rem;
  max-width: 32rem;
  width: 100%
}

.footer {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  gap: 10px;
}

