@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --brand-green: #5DA69E;
}

* {
  box-sizing: content-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: var(--brand-green);
  border-radius: 2%;
  cursor: pointer;
}

/* Header START */
header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.logo__leaves {
  max-height: 2.2rem;
}

.menuNav {
  background-color: white;
  height: 100vh;
  right: -50vw;
  position: absolute;
  transition: all .5s ease;
  width: 50vw;
}

.menuNav.showMenu {
  right: 0;
  text-align: right;
  transition: all .5s ease;
}

a {
  color: var(--brand-green);
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

header a {
  padding: 0.25rem;
}

/* Header END */

h1, h2, h3, h4 {
  color: var(--brand-green);
  font-family: 'Sen', sans-serif;
}

main {
  padding: 4rem 1rem 0 1rem;
}

main p {
  padding-bottom: 1rem;
}

.tagline {
  padding-bottom: 1rem;
}

.shop-symbols {
  max-width: 18rem;
  padding-top: 1rem;
}

.product-title {
  padding: 1rem;
}

.product-description {
  font-family: 'Crimson', serif;
  line-height: 1.5;
  text-align: left;
}

.product-image {
  max-height: 50rem;
  max-width: 32rem;
  width: 100%;
}

.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5em;
}

