.product-grid {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1.25rem;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 0.625rem;
}

.product-listing {
    border-radius: 8px;
    box-shadow: 0 0px 2px -2px rgb(0 0 0 / 10%), 0 2px 6px 0 rgb(0 0 0 / 10%), 0 4px 10px 2px rgb(0 0 0 / 8%);
    font-family: 'Crimson', serif;
    padding: 5px;
}

.product-image__main {
    max-width: 100%;
}

.product-title {
    color: black;
    padding-bottom: 0;
    text-align: left;
    text-transform: none;
}

.product-price {
    color: black;
    font-size: 0.75rem;
    padding-top: 0.25rem;
    text-align: left;
}

@media screen and (min-width: 992px) {
    .product-grid {
        /* display: grid;
        grid-auto-flow: row;
        grid-gap: 1.25rem; */
        grid-template-columns: 25% 25% 25% 25%;
        /* justify-content: center;
        padding: 0.625rem; */
    }
}